node_modules
coverage
dist
build
.expo
ios
android

src/types/database.generated.ts

scripts
ast_inline_fix.js
fix_any_ast.js
fix_any_catch.js
test-list.js

tailwind.config.js
metro.config.js
babel.config.js